.destination-container{
    padding-top: 20px;
    padding-bottom: 40px;
}
.destination-container1{
    text-align: center;
}
.destinaton-container1 h6{
    color: #86B817 !important;
    position: relative;
    font-weight: 600;
}
.service-container1 h6::before{
    position: absolute;
    content: "";
    width: calc(60% + 10px);
    height: 2px;
    top: 5px;
    left: -10px;
    background:#86B817 ;
    z-index: -1;
}
.service-container1 h6::after{

        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 5px;
        left: -20px;
        background: var(--primary);
        z-index: -1;

}
.destination-container1 h1{
    font-weight: 600;
    color: #2C3E50;
    padding-bottom: 20px;
}
.destination-Row1{
    /* border:#2C3E50 1px solid; */
    /* padding: 1px; */
}
.destination-col{
    /* border:#2C3E50 1px solid; */
    /* padding-right:15px ;  */
    padding-top:16px ;

}
#destination-Row1-col{
    width: 100%;
    padding-left: 12px;
    padding-right: 9px;

}
#destination-Row1-col2{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

}

