.service-container1{
    text-align: center;
}
.service-container1 h6{
    color: #86B817 !important;;
    font-weight: 600;
}
/* .service-container1 h6::before{
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background:#86B817 ;
    z-index: -1;
} */
/* .service-container1 h6::after{

        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 5px;
        left: -60px;
        background: var(--primary);
        z-index: -1;

} */
.service-container1 h1{
    font-weight: 600;
    color: #2C3E50;
    padding-bottom: 20px;
}
.servies-row1{
    background-color:rgb(247, 247, 247);
    /* box-shadow: #2C3E50 2px; */
}

.services-col{
    border-width: 1px;
    /* border-color: black; */
    /* border-style: solid; */
}
.services-col-items{
    background-color:white;
    /* border: 1px solid; */
    color: #2C3E50;
    margin-top: 25px;
    padding: 35px 15px 6px 15px;
}
.services-col-items h4{
    font-weight: 550;
}
.services-col-items:hover{
    background-color:#86B817;
    color: white !important;
    transition: .5s;
}
