.steps-container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.steps-container1{
    text-align: center;
}
.steps-container1 h6{
    color: #86B817 !important;
    position: relative;
    font-weight: 600;
}
.steps-container1 h1{
    font-weight: 600;
    color: #2C3E50;
    padding-bottom: 20px;
}
.steps-row1{
    /* border: 1px solid green; */
    
}



.steps-col{
    /* border: 1px solid green; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}
.steps-col-content{
    border: 1px solid green;
    padding-top: 80px;

 text-align: center;
position:relative;}

 .steps-col-content h5{
    font-weight: 800;
    color: #2C3E50;
 }
 .hr1{
    width: 30%;
    margin: 0.1rem 0px;
    margin-top: 0.5rem;


 }
 .hr2{
    width: 50%;
    margin: 0.2rem 0px;
    margin-bottom: 1rem;

 }
 #hrTags{
display: flex;
align-items: center;
/* justify-content: center; */
flex-direction: column; 
 }
.stepsIcons{

    width:100px;
    height: 100px;

    position: absolute;
    top: -50px;
    left:37%;
    border-radius: 50px;
    background-color: #86B817;
}