/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*{
  margin: 0;
  padding: 0;
  font-family:'Nunito',sans-serif;
}
/* .Container{
  width: 100%;
   background-image:url(./images/back.jpg); 
} */

.Backimage{
  /* border: 2px solid  black;*/
  width: 100%;
  height: 650px;
  background-image:url(./images/back.jpg);
  background-size:cover;
  background-repeat: no-repeat;
/* 
  background:rgba(32, 30, 30, 0.3); */
  /* filter:brightness(0.5) */
   /* background-color:black;   */
   /* opacity:0.2; */

}


.searchbar{

  /* border:2px dashed rgb(230, 20, 65); */
  width: 75%;
  height: 250px;
  margin: 0 auto;
  margin-top:155px;
  text-align: center;

}

.searchbar h1{
  font-size:63px;
  font-weight:bolder;
  color: white;
/* border: solid; */
}
.searchbar p{
  color: white;
  margin-top: 20px;
  font-size: 25px;
  /* border: solid; */
}
.searchbar input{
  width: 67%;
  height: 55px;
  /* border: solid; */

  border-radius: 50px;
  border-style: none;
  position: relative;
  left: 5%;
  /* margin: 0 auto; */
  margin-top: 10px;

}

.searchbar button{
  background-color: rgb(117, 189, 9);
  border: none; 
    position:relative;
    
   right: 5.5%;
    padding:10px 24px 9px 24px;
    font-size:medium;
    color: white;
    border-radius: 45px;
   
} 
.searchbar button:hover{
background-color:rgb(157, 219, 95);  
}
                                                     /* second page css starts */

.container2{
  /* border: 1px;
  border-style: solid; */
  height: 600px;
  width: 100%;
/* }
.about-col1{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(1, 8, 6); */
  /* height: 550px; */

  /* padding-top: 20px; */
  /* background-color: blue; */
}

.about-col1-image{
  /* border: 2px;
  border-style: solid; */
  width: 98%;
  height: 450px;
  margin-top:17%;  
  background-image: url(./images/about.jpg);
  background-size: cover;
  /* background-repeat: ; */
}
.about-col2{
  /* width: 100%; */
  /* height:160%; */
  /* border-width: 1px;
  border-style: solid; */
  border-color: rgb(1, 8, 6);
  padding-top: 100px;

}
.about-col2 h6{
  color:#86B817 !important;
  font-weight:600 ;
}
.about-col2 h1+p{
  margin-top: 23px; 
}
.about-col2 button{
  /* width: 20%; */
  margin-top: 10px;
  padding:16px 46px 16px 46px;
  background-color: rgb(145, 214, 40);
  color: white;
  border-style: none;
}